# .NET
bin/
obj/
*.user
*.suo
*.log

# Firebase secrets
.env
Firebasemauiapp/Resources/Raw/*.json
Firebasemauiapp/Config/GitHubSettings.cs


# Visual Studio
.vs/
*.userprefs

# Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp

# Firebase (Android) config – do not commit secrets
Firebasemauiapp/Platforms/Android/google-services.json

